.cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid gray;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.name {
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.total_price {
  display: flex;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
}

.remove {
  padding: 0.5em;
  display: flex;
  align-items: center;
  border-radius: 0.4em;
  cursor: pointer;
  transition: 200ms ease-in;
}

.remove:hover {
  background: rgba(0, 0, 0, 0.281);
}
