.none_found {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  gap: 2em;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 2rem;
  color: var(--black);
}
