@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

.nav {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-family: "Dosis";
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.link {
  color: var(--black);
}

.toolTip {
  font-family: "Poppins";
  font-size: 1rem;
}
