@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-bg: #fff;
  --turquoise: #00c7b3;
  --black: rgb(27, 27, 27);
  --grey: rgb(48, 48, 48);
}
